:host {
  display: block;
  --colorSelected: #00AA9B;
  --colorText: #AFAEAE;
  --sizeArrow: 15px;
  --sizeCheck: 12px;
  --colorArrow: #00AA9B;
  --fontFamily: 'Roboto', sans-serif;
  --textLoading: 'Aguarde';
  --textSize: 16px;
}

.wizTree__check {
  width: 10px;
  height: 10px;
  border: 1px solid #828282;
  display: block;
  cursor: pointer;
  transition: all 300ms ease;
  margin-right: 10px;
}
.wizTree__check--active {
  border-color: var(--colorSelected);
  box-shadow: inset 0 0 80px 80px var(--colorSelected);
}
.wizTree__check--icon {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--skaleSizeArrow));
  width: var(--sizeCheck);
  height: var(--sizeCheck);
  border: 2px solid transparent;

}
.wizTree__check--icon::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  left: calc(47% - 3px);
  top: calc(50% - 3px);
  width: 4px;
  height: 6px;
  border-width: 0 2px 2px 0;
  border-style: solid;
  color: white;
  transform-origin: left;
  transform: rotate(45deg) translate(-50%, -50%);
 }

/* ///  CONTENT CHILD */
.wizTree__content ul  {
  margin: 0;
  padding: 0;
}
.wizTree__content ul ul  {
  padding: 0;
  margin: 0;
  padding-inline-start: calc(var(--sizeArrow) + 8px);
}
.wizTree__content ul li  {
  display: block;
}
.wizTree__content label  {
  display: inline-flex;
  align-items: center;
  color: var(--colorText);
  font-family: var(--fontFamily);
  font-size: var(--textSize);
  letter-spacing: 0.5px;
  line-height: 1;
  margin-left: 3px;
  cursor: pointer;
}
.wizTree__content label:hover {
  background-color: rgb(10 10 10 / 2%);
  box-shadow: 2px 0px 0px 3px rgb(10 10 10 / 3%);
  border-radius: 5x;
}
.wizTree__content ul li ul {
  --maxHeight: 0px;
  max-height: var(--maxHeight);
  overflow: hidden;
  transition: max-height 300ms ease-in-out;
}
.wizTree__content ul li ul.open {
  --maxHeight: 900px;
}


/* /// ICON ARROW  */
.wizTree__arrow {
  padding: 3px 7px;
  display: inline-block;
  transform: translateY(1px);
  transition: transform 200ms linear;
}
.wizTree__arrow span {
    --rotate: -45deg;
    cursor: pointer;
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    transform: rotate(var(--rotate));
    width: var(--sizeArrow);
    height: var(--sizeArrow);
    border: 2px solid transparent;
    padding: 0px;
    margin: 0;
    transform-origin: center;
    transition: all 300ms ease;
}
.wizTree__arrow.wizTree__arrow--disabledChild {
 opacity: 0;
 pointer-events: none;
 visibility: hidden;
}
.wizTree__arrow.wizTree__arrow--active {
  transform: translateY(-3px);
}
.wizTree__arrow.wizTree__arrow--active span {
    --rotate: 45deg;

}
.wizTree__arrow span:hover {
  opacity: 0.7;
}
.wizTree__arrow span::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 100%;
    border-bottom: 3px solid;
    border-right: 3px solid;
    border-color: var(--colorArrow);
    transform: translate(-50%, -50%);
    border-radius: 0px 2px 2px 2px;
    left: 50%;
    top: 50%;
}

/* /// */
.wizTree__loading {
  pointer-events: none;
}
.wizTree__loading ul:empty {
  --maxHeight: 30px;
}
.wizTree__loading ul:empty::before {
  content: var(--textLoading);
  margin-left: 8px;
  font-size: 14px;
  color: var(--colorText);
  font-family: var(--fontFamily);
}

.wizTree__loading ul:empty::after {
  content: '';
  box-sizing: border-box;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-left: 5px;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: var(--colorArrow);
  animation: spinner .6s linear infinite;
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}
